/** image remplie une div **/
.image_rognee{
	height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}


/** image partie acceuil **/
.accueil_fondbis img{
  width: 100%;
}

#home{
	background-image: url("medias/images/fond.png");
}

.accueil_titrebis img{
  padding-top: 5%;
  width: 100%;
}

.module{
	width: 100%;
}

.parallax {
    /* The image used */
    background-image: url("fond0.png");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
