body
{
	margin: 0;
}


header/*entete*/
{
	position: fixed;
	width: 100%;
	z-index: 2;
}



	nav/*Menu*/
	{
		background-color: white;
		height: 55px;
		width: 100%;
		display: inline-block;
		position: absolute;
		top: 0px;
		z-index: 1
	}


		nav ul
		{
			display: inline-block;
			width : 38%;
			position : absolute;
			right: 0px;
		}

			nav li
			{
				display: inline-block;
				margin-left: 8%;
				transform: scale(0.99);
				transition-duration: 0.3s;
			}

				nav a
				{
					text-decoration: none;
					color: #333333;
					font-family: Bariol;
					font-size : 1.2em;
				}
				nav li:hover
				{
					transform: scale(1.10);
					transition-duration: 0.3s;
				}


	#logo
	{
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	z-index: 2;
	transform: scale(0.99);
	transition-duration: 0.3s;
	}
	
	#logo:hover
		{
					transform: scale(1.1);
					transition-duration: 0.3s;
		}
